section.section.section_first.logo
	.wrapper
		ul.logo__list
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-1.svg` width="340" height="56" alt="Логотип «Cloud Advisor»")
				p.text.text_small.logo__text Единая платформа, обеспечивающая безопасность в публичном облаке
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-2.svg` width="320" height="48" alt="Логотип «CTRL-Hack»")
				p.text.text_small.logo__text Платформа симуляции кибератак
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-3.svg` width="258" height="80" alt="Логотип «BearPass»")
				p.text.text_small.logo__text Безопасное хранение и использование корпоративных паролей для бизнеса
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-4.svg` width="322" height="29" alt="Логотип «Веб оборона»")
				p.text.text_small.logo__text Комплексная безопасность для любых веб-ресурсов
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-5.png` width="320" height="64" alt="Логотип «Kodera»")
				p.text.text_small.logo__text Российские инструменты для безопасной разработки ПО
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-6.svg` width="106" height="80" alt="Логотип «TypeMax»")
				p.text.text_small.logo__text Практические курсы для специалистов по информационной безопасности
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-7.svg` width="358" height="62" alt="Логотип «Cyberlab»")
				p.text.text_small.logo__text Платформа для обучения информационной безопасности
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-8.svg` width="265" height="102" alt="Логотип «LAY»")
				p.text.text_small.logo__text Технология безопасной передачи чувствительных данных через сенсорный экран
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-9.svg` width="154" height="80" alt="Логотип «МАРС»")
				p.text.text_small.logo__text Комплексное решение с продвинутым искусственным интеллектом для безопасности данных
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-10.svg` width="304" height="80" alt="Логотип «StopPhish»")
				p.text.text_small.logo__text Платформа по тренировке навыков кибербезопасности
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-11.svg` width="346" height="72" alt="Логотип «Сейфнет»")
				p.text.text_small.logo__text Разработчик продукта Крипт.Клауд для шифрования данных, загружаемых в облачные хранилища
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-12.svg` width="88" height="80" alt="Логотип «Safensoft»")
				p.text.text_small.logo__text Проактивная защита от вредоносных программ
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-13.svg` width="447" height="80" alt="Логотип «Netopia.pro»")
				p.text.text_small.logo__text Платформа для мониторинга и контроля сетевой безопасности
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-14.svg` width="447" height="80" alt="Логотип «Jethub»")
				p.text.text_small.logo__text Анализатор на базе нейросетей, обеспечивающий безопасность приложений, идентифицирующий уязвимости кода и уменьшающий ложные срабатывания
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-15.svg` width="324" height="64" alt="Логотип «VulnDetector»")
				p.text.text_small.logo__text Детектор Уязвимостей. Непрерывный мониторинг открытых уязвимостей в сетях и сайтах
			li.logo__item
				.logo__img-wrapper 
					img(src=`${baseDir}images/logo-partners-16.svg` width="447" height="80" alt="Логотип «Squad»")
				p.text.text_small.logo__text Интеллектуальная безопасность API в масштабе всей организации
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-17.svg` width="447" height="80" alt="Логотип «Securitm»")
				p.text.text_small.logo__text Сервис управления информационной безопасностью
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-18.svg` width="447" height="80" alt="Логотип «Metascan by vulnspace»")
				p.text.text_small.logo__text Облачный сканер уязвимостей с экспертным сопровождением
