section.section.experts
	.wrapper
		.title-header.experts__title-header
			p.title-h2_second(role="heading" aria-level="2") Участники экспертного совета
			p.text.title-header__subtitle
				span (
				| Уже участвуют в advisory board
				span )
		.pagination.experts__pagination
			button.pagination__arrow.pagination__arrow-prev.js-experts__prev
				+svg("arrow-slide-prev")(class="pagination__svg pagination__svg_orange")
			button.pagination__arrow.pagination__arrow-next.js-experts__next
				+svg("arrow-slide-next")(class="pagination__svg pagination__svg_orange")
		.experts__slider-block
			.experts__slider-container
				.experts__slider.swiper.js-experts-slider
					.experts__slider-wrapper.swiper-wrapper
						.experts__slider-item.swiper-slide
							.experts__avatar
								img.experts__img(src=`${baseDir}images/advisory-experts-4.jpg` alt="Сергей Демидов")
								img.experts__img-grey(src=`${baseDir}images/advisory-experts-4_grey.jpg` alt="Сергей Демидов")
							.experts__text
								p.title-h3.title-h3_dark.experts__item-title(role="heading" aria-level="3") Сергей Демидов
								p.text.text_middle.experts__item-text Заместитель Председателя Правления по информационной безопасности Московской биржи
								//- a.link.experts__item-button.js-experts-button(data-target="expert-1") Биография эксперта
								//- 	| <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								//- 	| <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 12.75V18H12.75V12.75H18V11.25H12.75V6H11.25V11.25H6V12.75H11.25Z" fill="#FE6E36"/>
								//- 	| </svg>
						.experts__slider-item.swiper-slide
							.experts__avatar
								img.experts__img(src=`${baseDir}images/advisory-experts-5.jpg` alt="Давид Мартиросов")
								img.experts__img-grey(src=`${baseDir}images/advisory-experts-5_grey.jpg` alt="Давид Мартиросов")
							.experts__text
								p.title-h3.title-h3_dark.experts__item-title(role="heading" aria-level="3") Давид Мартиросов
								p.text.text_middle.experts__item-text Вице-президент по ИТ-эксплуатации и инфраструктуре ПАО «Ростелеком» и генеральный директор ООО&nbsp;«Базис»
								//- a.link.experts__item-button.js-experts-button(data-target="expert-2") Биография эксперта
								//- 	| <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								//- 	| <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 12.75V18H12.75V12.75H18V11.25H12.75V6H11.25V11.25H6V12.75H11.25Z" fill="#FE6E36"/>
								//- 	| </svg>
						.experts__slider-item.swiper-slide
							.experts__avatar
								img.experts__img(src=`${baseDir}images/advisory-experts-1.jpg` alt="Дмитрий Гадарь")
								img.experts__img-grey(src=`${baseDir}images/advisory-experts-1_grey.jpg` alt="Дмитрий Гадарь")
							.experts__text
								p.title-h3.title-h3_dark.experts__item-title(role="heading" aria-level="3") Дмитрий Гадарь
								p.text.text_middle.experts__item-text Директор Департамента информационной безопасности “Тинькофф”
								//- a.link.experts__item-button.js-experts-button(data-target="expert-3") Биография эксперта
								//- 	| <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								//- 	| <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 12.75V18H12.75V12.75H18V11.25H12.75V6H11.25V11.25H6V12.75H11.25Z" fill="#FE6E36"/>
								//- 	| </svg>
						.experts__slider-item.swiper-slide
							.experts__avatar
								img.experts__img(src=`${baseDir}images/advisory-experts-2.jpg` alt="Вячеслав Касимов")
								img.experts__img-grey(src=`${baseDir}images/advisory-experts-2_grey.jpg` alt="Вячеслав Касимов")
							.experts__text
								p.title-h3.title-h3_dark.experts__item-title(role="heading" aria-level="3") Вячеслав Касимов
								p.text.text_middle.experts__item-text CISO Московского кредитного банка
								//- a.link.experts__item-button.js-experts-button(data-target="expert-4") Биография эксперта
								//- 	| <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								//- 	| <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 12.75V18H12.75V12.75H18V11.25H12.75V6H11.25V11.25H6V12.75H11.25Z" fill="#FE6E36"/>
								//- 	| </svg>
						.experts__slider-item.swiper-slide
							.experts__avatar
								img.experts__img(src=`${baseDir}images/advisory-experts-3.jpg` alt="Антон Карпов")
								img.experts__img-grey(src=`${baseDir}images/advisory-experts-3_grey.jpg` alt="Антон Карпов")
							.experts__text
								p.title-h3.title-h3_dark.experts__item-title(role="heading" aria-level="3") Антон Карпов
								p.text.text_middle.experts__item-text Вице-президент и директор по ИБ VK
								//- a.link.experts__item-button.js-experts-button(data-target="expert-5") Биография эксперта
								//- 	| <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								//- 	| <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 12.75V18H12.75V12.75H18V11.25H12.75V6H11.25V11.25H6V12.75H11.25Z" fill="#FE6E36"/>
								//- 	| </svg>
						.experts__slider-item.swiper-slide
							.experts__avatar
								img.experts__img(src=`${baseDir}images/advisory-experts-10.jpg` alt="Евгения Григорьева")
								img.experts__img-grey(src=`${baseDir}images/advisory-experts-10_grey.jpg` alt="Евгения Григорьева")
							.experts__text
								p.title-h3.title-h3_dark.experts__item-title(role="heading" aria-level="3") Евгения Григорьева
								p.text.text_middle.experts__item-text Действующий Advisory Board директор в нескольких российских компаниях
								//- a.link.experts__item-button.js-experts-button(data-target="expert-6") Биография эксперта
								//- 	| <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								//- 	| <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 12.75V18H12.75V12.75H18V11.25H12.75V6H11.25V11.25H6V12.75H11.25Z" fill="#FE6E36"/>
								//- 	| </svg>
		.experts__slider-fake-slider.swiper.js-experts-fake-slider.visually-hidden
			.experts__slider-fake-wrapper.swiper-wrapper
		.experts__bio
			.experts__bio-item#expert-1
				.experts__bio-left
					a.experts__bio-button.link.js-experts-bio-button К экспертам
						| <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path fill-rule="evenodd" clip-rule="evenodd" d="M6.56584 10.7508L10.7757 14.941L9.7175 16.0041L4.22036 10.5327C4.07895 10.3919 3.99945 10.2006 3.99945 10.0011C3.99945 9.80156 4.07895 9.61026 4.22036 9.46951L9.7175 3.99805L10.7757 5.06119L6.5664 9.25081L15.25 9.25081C17.3211 9.25081 19 10.9297 19 13.0008L19 20.0018L17.5 20.0018L17.5 13.0008C17.5 11.7582 16.4926 10.7508 15.25 10.7508L6.56584 10.7508Z" fill="#FE6E36"/>
						| </svg>
					.experts__bio-avatar
						picture
							source(media="(max-width: 650px)" srcset=`${baseDir}images/advisory-experts-4_mobile.jpg` width="288" height="237")
							img.experts__bio-img(src=`${baseDir}images/advisory-experts-4.jpg` alt="Сергей Демидов")
					.experts__bio-name
						p.title-h3.title-h3_dark.experts__bio-title(role="heading" aria-level="3") Сергей Демидов
						p.text.text_middle Заместитель Председателя Правления по информационной безопасности МОСКОВСКАЯ БИРЖА
				.experts__bio-right
					.experts__bio-text
						p.text.text_big.experts__bio-right_title Биография
						p.text.experts__bio-content_text На Московской бирже с 2011 года. Присоединился к команде ММВБ на этапе объединения бирж ММВБ и РТС, участвовал в процессе объединения. Впоследствии отвечал за создание выделенной функции по управлению операционными рисками, информационной безопасности и непрерывности бизнеса на объединенной бирже.
						p.text.experts__bio-content_text До перехода на биржу работал в инвестиционной компании Ренессанс Капитал, где отвечал за информационную безопасность и непрерывность бизнеса в российских и международных подразделениях.
						p.text.experts__bio-content_text Начинал свою карьеру в банке АБН АМРО, где в разные годы занимался вопросами информационных технологий и непрерывности бизнеса.
						p.text.experts__bio-content_text Окончил Московскую Государственную Академию приборостроения и информатики по специальности «Автоматизированные системы обработки информации и управления». Родился в 1978 году.
			.experts__bio-item#expert-2
				.experts__bio-left
					a.experts__bio-button.link.js-experts-bio-button К экспертам
						| <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path fill-rule="evenodd" clip-rule="evenodd" d="M6.56584 10.7508L10.7757 14.941L9.7175 16.0041L4.22036 10.5327C4.07895 10.3919 3.99945 10.2006 3.99945 10.0011C3.99945 9.80156 4.07895 9.61026 4.22036 9.46951L9.7175 3.99805L10.7757 5.06119L6.5664 9.25081L15.25 9.25081C17.3211 9.25081 19 10.9297 19 13.0008L19 20.0018L17.5 20.0018L17.5 13.0008C17.5 11.7582 16.4926 10.7508 15.25 10.7508L6.56584 10.7508Z" fill="#FE6E36"/>
						| </svg>
					.experts__bio-avatar
						picture
							source(media="(max-width: 650px)" srcset=`${baseDir}images/advisory-experts-5_mobile.jpg` width="288" height="237")
							img.experts__bio-img(src=`${baseDir}images/advisory-experts-5.jpg` alt="Давид Мартиросов")
					.experts__bio-name
						p.title-h3.title-h3_dark.experts__bio-title(role="heading" aria-level="3") Давид Мартиросов
						p.text.text_middle Вице-президент по ИТ-эксплуатации и инфраструктуре ПАО «Ростелеком» и генеральный директор ООО&nbsp;«Базис»
				.experts__bio-right
					.experts__bio-text
						p.text.text_big.experts__bio-right_title Биография
						p.text.experts__bio-content_text Давид Мартиросов управляет стратегически важным направлением деятельности в структуре ПАО «Ростелеком» - коммерческим IT-кластером, который создает передовые технологические решения, масштабирует их и выводит на рынок для последующей монетизации. Эта работа способствует улучшению качества услуг крупнейшего в России интегрированного провайдера, укрепляет «Ростелекома» в инновационном секторе и его стратегическую значимость для развития цифровой экономики страны.
						p.text.experts__bio-content_text В зоне ответственности Давида также находится комплексная поддержка IT-инфраструктуры и всех IT-систем ПАО «Ростелеком». Его руководство направлено на обеспечение их постоянной бесперебойной работы, что является ключевым при реализации «Ростелекомом» стратегически важных проектов государства. Важно отметить, что стабильная работа инфраструктуры играет решающую роль в обеспечении непрерывности связи и эффективности цифровых сервисов, как внутри «Ростелекома», так и для его заказчиков.
						p.text.experts__bio-content_text Кроме того, Давид Мартиросов возглавляет компанию «Базис», ведущего российского разработчика платформы динамической инфраструктуры, виртуализации и решений для оказания облачных услуг. Под его руководством, выручка «Базиса» выросла в 10 раз, вендор занял лидирующие позиции в сегменте инфраструктурного ПО, став стандартом в области виртуализации в государственном секторе. Компания обеспечивает работу более 95% процессов в Единой государственной облачной системе. Активно внедряя передовые технологии, «Базис» успешно конкурирует с крупнейшими международными информационных систем и сервисов, а также более 700 компаний – от крупных корпораций до малых и средних предприятий – уже используют решения «Базиса», что подтверждает их высокое качество и надежность.
						p.text.experts__bio-content_text Давид Мартиросов окончил Московский государственный горный университет и обладает богатым опытом работы в индустрии информационных технологий. За годы своей карьеры, Давид реализовал большое количество крупных ИТ-проектов в направлениях ИТ-инфраструктуры, цифровой трансформации, облачных решений и др. в ключевых отраслях экономики.
			.experts__bio-item#expert-3
				.experts__bio-left
					a.experts__bio-button.link.js-experts-bio-button К экспертам
						| <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path fill-rule="evenodd" clip-rule="evenodd" d="M6.56584 10.7508L10.7757 14.941L9.7175 16.0041L4.22036 10.5327C4.07895 10.3919 3.99945 10.2006 3.99945 10.0011C3.99945 9.80156 4.07895 9.61026 4.22036 9.46951L9.7175 3.99805L10.7757 5.06119L6.5664 9.25081L15.25 9.25081C17.3211 9.25081 19 10.9297 19 13.0008L19 20.0018L17.5 20.0018L17.5 13.0008C17.5 11.7582 16.4926 10.7508 15.25 10.7508L6.56584 10.7508Z" fill="#FE6E36"/>
						| </svg>
					.experts__bio-avatar
						picture
							source(media="(max-width: 650px)" srcset=`${baseDir}images/advisory-experts-1_mobile.jpg` width="288" height="237")
							img.experts__bio-img(src=`${baseDir}images/advisory-experts-1.jpg` alt="Дмитрий Гадарь")
					.experts__bio-name
						p.title-h3.title-h3_dark.experts__bio-title(role="heading" aria-level="3") Дмитрий Гадарь
						p.text.text_middle Директор Департамента информационной безопасности “Тинькофф”
				.experts__bio-right
					.experts__bio-text
						p.text.text_big.experts__bio-right_title Биография
						ul.experts__bio-list
							p.text 15 лет практического опыта в области информационной безопасности:
							li.experts__bio-list_item организация безопасности групп компаний и холдингов
							li.experts__bio-list_item разработка и следование стратегии информационной безопасности
							li.experts__bio-list_item реагирование на атаки на банковский сектор
					.experts__bio-text
						p.text.text_big.experts__bio-right_title Профессиональный опыт
						ul.experts__bio-list
							li.experts__bio-list_item В начале карьеры занимался разработкой программного обеспечения для криптоанализа.
							li.experts__bio-list_item В СО-ЦДУ ЕЭС организацией криптографических сервисов и внедрением удостоверяющего центра.
							li.experts__bio-list_item После перехода в финансовый сектор прошел путь от аналитика по информационной безопасности до Директора Департамента информационной безопасности.
							li.experts__bio-list_item Работал в Райффайзенбанке, Barclays Bank, GE Money Bank (General Electric Co), Банк Открытие.
							li.experts__bio-list_item В настоящее время возглавляет направление информационной безопасности в Tinkoff.ru
					.experts__bio-text
						p.text.text_big.experts__bio-right_title Образование
						p.text Московский инженерно-физический институт (государственный университет) (МИФИ)
						p.text Факультет информационной безопасности, Специальность «Комплексное обеспечение информационной безопасности автоматизированных систем», кафедра криптографии. В 2005 году окончил университет с отличием.
			.experts__bio-item#expert-4
				.experts__bio-left
					a.experts__bio-button.link.js-experts-bio-button К экспертам
						| <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path fill-rule="evenodd" clip-rule="evenodd" d="M6.56584 10.7508L10.7757 14.941L9.7175 16.0041L4.22036 10.5327C4.07895 10.3919 3.99945 10.2006 3.99945 10.0011C3.99945 9.80156 4.07895 9.61026 4.22036 9.46951L9.7175 3.99805L10.7757 5.06119L6.5664 9.25081L15.25 9.25081C17.3211 9.25081 19 10.9297 19 13.0008L19 20.0018L17.5 20.0018L17.5 13.0008C17.5 11.7582 16.4926 10.7508 15.25 10.7508L6.56584 10.7508Z" fill="#FE6E36"/>
						| </svg>
					.experts__bio-avatar
						picture
							source(media="(max-width: 650px)" srcset=`${baseDir}images/advisory-experts-2_mobile.jpg` width="288" height="237")
							img.experts__bio-img(src=`${baseDir}images/advisory-experts-2.jpg` alt="Вячеслав Касимов")
					.experts__bio-name
						p.title-h3.title-h3_dark.experts__bio-title(role="heading" aria-level="3") Вячеслав Касимов
						p.text.text_middle CISO Московского кредитного банка
				.experts__bio-right
					.experts__bio-text
						p.text.text_big.experts__bio-right_title Биография
						ul.experts__bio-list
							p.text.experts__bio-content_text Вячеслав Касимов является CISO в МОСКОВСКОМ КРЕДИТНОМ БАНКЕ, ТОП-10 Банков в Российской Федерации и входящий в перечень системно-значимых. Вячеслав отвечает за информационную безопасность и антифрод в МКБ.
							p.text.experts__bio-content_text Предыдущие 15 лет Вячеслав работал на позициях CISO в крупнейших банках России и НСПК. За это время командами Вячеслава было отражено десятки целенаправленных атак.
							p.text.experts__bio-content_text Имеет большой опыт построения практической информационной безопасности с нуля, проектирования комплексных систем информационной безопасности и антифрода. Вячеслав является адептом риск-ориентированного подхода к построению информационной безопасности и использования в работе лучших мировых практик.
			.experts__bio-item#expert-5
				.experts__bio-left
					a.experts__bio-button.link.js-experts-bio-button К экспертам
						| <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path fill-rule="evenodd" clip-rule="evenodd" d="M6.56584 10.7508L10.7757 14.941L9.7175 16.0041L4.22036 10.5327C4.07895 10.3919 3.99945 10.2006 3.99945 10.0011C3.99945 9.80156 4.07895 9.61026 4.22036 9.46951L9.7175 3.99805L10.7757 5.06119L6.5664 9.25081L15.25 9.25081C17.3211 9.25081 19 10.9297 19 13.0008L19 20.0018L17.5 20.0018L17.5 13.0008C17.5 11.7582 16.4926 10.7508 15.25 10.7508L6.56584 10.7508Z" fill="#FE6E36"/>
						| </svg>
					.experts__bio-avatar
						picture
							source(media="(max-width: 650px)" srcset=`${baseDir}images/advisory-experts-3_mobile.jpg` width="288" height="237")
							img.experts__bio-img(src=`${baseDir}images/advisory-experts-3.jpg` alt="Антон Карпов")
					.experts__bio-name
						p.title-h3.title-h3_dark.experts__bio-title(role="heading" aria-level="3") Антон Карпов
						p.text.text_middle Вице-президент и директор по ИБ VK
				.experts__bio-right
					.experts__bio-text
						p.text.text_big.experts__bio-right_title Биография
						ul.experts__bio-list
							p.text.experts__bio-content_text Занимается информационной безопасностью с начала века. Окончил кафедру информационной безопасности петербургского «Политеха».
							p.text.experts__bio-content_text Начинал карьеру практиком-аудитором ISO 27002 и PCI DSS. Занимался тестированиями на проникновение и менеджментом ИБ в рамках глобальной службы ИБ британского банка "Barclays".
							p.text.experts__bio-content_text C 2011 по 2023 год работал в Яндексе, где в должности директора по безопасности отвечал за информационную, физическую и экономическую безопасность компании.
			.experts__bio-item#expert-6
				.experts__bio-left
					a.experts__bio-button.link.js-experts-bio-button К экспертам
						| <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path fill-rule="evenodd" clip-rule="evenodd" d="M6.56584 10.7508L10.7757 14.941L9.7175 16.0041L4.22036 10.5327C4.07895 10.3919 3.99945 10.2006 3.99945 10.0011C3.99945 9.80156 4.07895 9.61026 4.22036 9.46951L9.7175 3.99805L10.7757 5.06119L6.5664 9.25081L15.25 9.25081C17.3211 9.25081 19 10.9297 19 13.0008L19 20.0018L17.5 20.0018L17.5 13.0008C17.5 11.7582 16.4926 10.7508 15.25 10.7508L6.56584 10.7508Z" fill="#FE6E36"/>
						| </svg>
					.experts__bio-avatar
						picture
							source(media="(max-width: 650px)" srcset=`${baseDir}images/advisory-experts-10_mobile.jpg` width="288" height="237")
							img.experts__bio-img(src=`${baseDir}images/advisory-experts-10.jpg` alt="Евгения Григорьева")
					.experts__bio-name
						p.title-h3.title-h3_dark.experts__bio-title(role="heading" aria-level="3") Евгения Григорьева
						p.text.text_middle Действующий Advisory Board директор в нескольких российских компаниях
				.experts__bio-right
					.experts__bio-text
						p.text.text_big.experts__bio-right_title Биография
						ul.experts__bio-list
							p.text Консультант, Ex-CMO TikTok, Яндекс, Билайн, с опытом 15+ лет в маркетинге.
							p.text Действующий Advisory Board директор в нескольких российских компаниях.
							p.text Опыт работы в телекоме, ИТ-компаниях, интеграторах, стартапах и рекламных платформах.
							p.text Занималась развитием бизнеса, создавала маркетинговые стратегии, разрабатывала и выводила на рынок продукты и digital сервисы, отвечала за развитие брендов, клиентский опыт и коммуникации.
					.experts__bio-text
						p.text.text_big.experts__bio-right_title Профессиональный опыт
						ul.experts__bio-list
							li.experts__bio-list_item TikTok Global Business marketing Director Eastern Europe
							li.experts__bio-list_item Яндекс B2B СМО, Brand & Customer Experience Директор B2C
							li.experts__bio-list_item VEON/Билайн Директор департамента по маркетингу продуктов B2B & B2C
							li.experts__bio-list_item Приглашенный преподаватель ВШЭ и ВШБ МГУ, программа “Executive MBA” маркетинг
					.experts__bio-text
						p.text.text_big.experts__bio-right_title Образование
						ul.experts__bio-list
							li.experts__bio-list_item 2 государственных диплома: МГУ ПС «Инженер» и ГУУ «Менеджмент в ИТ»
							li.experts__bio-list_item MBA, Coleago Consulting “Strategy & business planning”, Нидерланды
							li.experts__bio-list_item Бизнес-школа Vlerick “Leadership development program”, Бельгия
							li.experts__bio-list_item Международный сертификат «Systemic Executive coaching» Jan Ardui, Нидерланды
