footer.footer.footer_light
    .wrapper.footer__wrapper
        .footer__top.footer__top_second
            a.footer__link-footer.footer__link-footer_second(href=`${baseDir}`)
                img.footer__logo-footer(src=`${baseDir}images/logo_white.svg` alt="Логотип CYBERSTAGE" width="100%" height="100%")
        .footer__bottom.footer__bottom_second
            .main-nav__list-wrapper.footer__main-nav
                ul.main-nav__list
                    li.main-nav__item(class={active : currentPage == "mentoring"})
                        a.main-nav__link(href=`${baseDir}mentorstvo/`) Менторство
                    li.main-nav__item(class={active : currentPage == "advisory"})
                        a.main-nav__link(href=`${baseDir}advisory-board/`) Advisory board
                    li.main-nav__item(class={active : currentPage == "matrix"})
                        a.main-nav__link(href=`${baseDir}matrix/`) Matrix
                    li.main-nav__item(class={active : currentPage == "technology-testing"})
                        a.main-nav__link(href=`${baseDir}testirovanie-startap-tekhnologij/`) Тестирование технологий
                    li.main-nav__item(class={active : currentPage == "attracting-investments"})
                        a.main-nav__link(href=`${baseDir}privlechenie-investicij/`) Привлечение инвестиций
                    li.main-nav__item(class={active : currentPage == ""})
                        a.main-nav__link(href=`${baseDir}participants/`) Участники программы
            .footer__company-information.footer__company-information_second
                .footer__company-information-wrapper-inner.footer__company-information-wrapper-inner_second
                    p.footer__text.footer__text_address г. Москва, Никитский переулок, 7с1
                    .footer__text-links 
                        a.footer__text.footer__text_phone(href="tel:88003028523") 8 (800) 302-85-23
                        a.footer__text.footer__text_office(href="#") Контакты офисов
                ul.footer__social
                    li.footer__social-item
                        a.footer__social-link(href="https://t.me/solar_security" target="_blank" rel="nofollow")
                            | <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <g clip-path="url(#clip0_352_2287)">
                            | <rect x="0.25" y="0.4375" width="43" height="43" rx="21.5" stroke="white"/>
                            | <path d="M11 21.1509C11.2478 20.7544 11.641 20.56 12.0557 20.4013C17.6029 18.2759 23.1508 16.1523 28.6985 14.0284C29.49 13.7254 30.2814 13.422 31.0736 13.1206C31.178 13.0808 31.2849 13.0408 31.3943 13.0214C32.0725 12.9014 32.5946 13.2958 32.5635 13.9844C32.5382 14.5461 32.4142 15.1069 32.2975 15.6603C31.6383 18.7866 30.9686 21.9107 30.3015 25.0354C29.9535 26.6662 29.6036 28.2966 29.2543 29.9273C29.2439 29.9751 29.23 30.0222 29.217 30.0694C28.9056 31.1958 28.0643 31.1666 27.3877 30.681C25.8135 29.5515 24.2579 28.3963 22.6946 27.2517C22.6383 27.2104 22.5813 27.1704 22.5117 27.1207C22.4626 27.1622 22.4139 27.199 22.37 27.2409C21.5666 28.0065 20.7632 28.7723 19.9609 29.5391C19.7278 29.7619 19.4591 29.8869 19.1107 29.8744C19.1387 29.4433 19.1639 29.0259 19.1931 28.6087C19.2725 27.4811 19.3582 26.3539 19.4301 25.2258C19.4457 24.9831 19.5093 24.8037 19.7038 24.6298C22.6578 21.9901 25.6022 19.34 28.5489 16.6921C28.6011 16.6453 28.6653 16.6041 28.6987 16.5456C28.7401 16.4731 28.7983 16.3616 28.7701 16.3106C28.7389 16.2538 28.6096 16.2074 28.5389 16.2242C28.3651 16.2654 28.1845 16.3199 28.0343 16.4136C25.4385 18.031 22.8467 19.6548 20.2542 21.2777C19.1126 21.9923 17.9729 22.71 16.8275 23.4184C16.7463 23.4686 16.6135 23.4916 16.524 23.4642C14.9434 22.9805 13.366 22.4868 11.7876 21.9959C11.4665 21.896 11.1736 21.7569 11 21.446L11 21.1509Z" fill="white"/>
                            | </g>
                            | <defs>
                            | <clipPath id="clip0_352_2287">
                            | <rect width="44" height="44" fill="white"/>
                            | </clipPath>
                            | </defs>
                            | </svg>
                    li.footer__social-item
                        a.footer__social-link(href="https://vk.com/solar_security/" target="_blank" rel="nofollow")
                            | <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <g clip-path="url(#clip0_352_2290)">
                            | <rect x="0.25" y="0.4375" width="43" height="43" rx="21.5" stroke="white"/>
                            | <path d="M23.3377 29C15.7708 29 11.1799 23.7402 11 15H14.8324C14.9519 21.4204 17.8675 24.141 20.1026 24.7005V15H23.7753V20.5408C25.9311 20.3014 28.1876 17.7812 28.946 15H32.561C31.9825 18.42 29.5259 20.9402 27.7903 21.9798C29.5273 22.8204 32.3221 25.0206 33.4 29H29.4266C28.5876 26.3399 26.5325 24.2795 23.7766 23.9998V29H23.3377Z" fill="white"/>
                            | </g>
                            | <defs>
                            | <clipPath id="clip0_352_2290">
                            | <rect width="44" height="44" fill="white"/>
                            | </clipPath>
                            | </defs>
                            | </svg>
                    li.footer__social-item
                        a.footer__social-link(href="https://dzen.ru/solar_security/" target="_blank" rel="nofollow")
                            | <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <g clip-path="url(#clip0_352_2293)">
                            | <rect x="0.25" y="0.4375" width="43" height="43" rx="21.5" stroke="white"/>
                            | <path d="M33 21.6176V22.3521C32.683 22.3521 32.3691 22.3439 32.056 22.3539C30.6756 22.3984 29.2943 22.4433 27.9308 22.6935C26.8099 22.8991 25.7435 23.2426 24.8315 23.9599C23.8061 24.7657 23.2089 25.8398 22.8781 27.0807C22.5749 28.2179 22.4651 29.3823 22.4067 30.5519C22.3695 31.2912 22.3609 32.0317 22.3384 32.7714C22.3362 32.8432 22.3237 32.914 22.3142 33H21.6452C21.6452 32.7788 21.6556 32.5515 21.6434 32.3251C21.5816 31.1706 21.5431 30.0131 21.4393 28.8621C21.3451 27.8165 21.1215 26.7912 20.6579 25.8359C19.9063 24.2861 18.6427 23.3653 17.0093 22.9104C15.965 22.6196 14.8942 22.496 13.8161 22.4377C12.9326 22.3897 12.047 22.3759 11.1626 22.3465C11.1133 22.3448 11.064 22.3387 11 22.3336V21.66C11.1431 21.66 11.285 21.6651 11.4264 21.6591C12.4543 21.615 13.4844 21.5973 14.5098 21.5161C15.8097 21.4128 17.0954 21.2106 18.2768 20.6079C19.7286 19.8677 20.6077 18.6649 21.0579 17.1254C21.3394 16.1632 21.4774 15.1751 21.534 14.1774C21.5928 13.1448 21.6218 12.11 21.6642 11.0765C21.6651 11.0562 21.6729 11.0363 21.6811 11H22.3604C22.3604 11.4714 22.3475 11.9359 22.3626 12.3995C22.4141 13.9506 22.488 15.5 22.9014 17.0092C23.5246 19.284 25.0217 20.6416 27.2977 21.1799C28.5497 21.4763 29.825 21.5783 31.1063 21.6146C31.7312 21.6323 32.3574 21.6176 33 21.6176Z" fill="white"/>
                            | </g>
                            | <defs>
                            | <clipPath id="clip0_352_2293">
                            | <rect width="44" height="44" fill="white"/>
                            | </clipPath>
                            | </defs>
                            | </svg>
                    li.footer__social-item
                        a.footer__social-link(href="https://rutube.ru/channel/25858674/" target="_blank" rel="nofollow")
                            | <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <g clip-path="url(#clip0_352_2301)">
                            | <rect x="0.25" y="0.4375" width="43" height="43" rx="21.5" stroke="white"/>
                            | <path d="M26.9955 23.7204C28.3331 22.6587 29.1915 21.2061 29.1915 19.3828V18.5897C29.1915 15.388 26.5539 13.0355 23.3015 13.0355L14 13L14.0056 30.9659L18.3989 31V24.9021H22.9146L25.8582 31H31L26.9955 23.7204ZM24.7022 19.1649C24.7022 20.4398 23.6515 21.1635 22.3558 21.1635H18.3991V16.849H22.3558C23.6515 16.849 24.7022 17.7447 24.7022 19.02V19.1649Z" fill="white"/>
                            | </g>
                            | <defs>
                            | <clipPath id="clip0_352_2301">
                            | <rect width="44" height="44" fill="white"/>
                            | </clipPath>
                            | </defs>
                            | </svg>
                    li.footer__social-item
                        a.footer__social-link(href="https://habr.com/ru/company/solarsecurity/" target="_blank" rel="nofollow")
                            | <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <g clip-path="url(#clip0_352_2304)">
                            | <rect x="0.25" y="0.4375" width="43" height="43" rx="21.5" stroke="white"/>
                            | <path d="M25.5329 13V20.382H18.6776V13H15V31H18.6776V23.7651H25.5329V31H29.2105V13H25.5329Z" fill="white"/>
                            | </g>
                            | <defs>
                            | <clipPath id="clip0_352_2304">
                            | <rect width="44" height="44" fill="white"/>
                            | </clipPath>
                            | </defs>
                            | </svg>
        .footer__copyright
            p.footer__text.footer__text-copy.footer__text-copy_second
                | 2015-<span class="js-current-year">2023</span> © ООО «СОЛАР СЕКЬЮРИТИ» — системы и средства информационной безопасности и защиты данных. Продолжая использовать наш сайт, вы даете согласие на обработку файлов <a href="https://rt-solar.ru/about_company/information/cookie/">Cookies</a> и других пользовательских данных в соответствии с <a href="https://rt-solar.ru/about_company/information/legal/">Политикой конфиденциальности</a>.
            p.footer__text.footer__text-copy.footer__text-copy_second
                | Наш сайт защищен с помощью reCAPTCHA и соответствует <a rel="nofollow" href="https://policies.google.com/privacy" target="_blank">Политике конфиденциальности</a> и <a rel="nofollow" href="https://policies.google.com/terms" target="_blank">Условиям использования</a> Google.

