section.section.case
	.wrapper.case__wrapper
		p.title-h2.section__title-h2(role="heading" aria-level="2") Кейсы применения Cyber Stage
		.case__list-wrapper
			.case__list
				.case__item
					picture
						source(media="(max-width: 1200px)" srcset=`${baseDir}images/case-item-img-1_laptop.png` width="348" height="160")
						img.case__img(src=`${baseDir}images/case-item-img-1.png` width="448" height="462")
					p.text.text_white.text_big.case__title(role="heading" aria-level="3") SAFENSOFT — ЗАЩИТА КОНЕЧНЫХ<br> ТОЧЕК СЕТИ
					.case__text-wrapper
						.case__text-task
							p.text.text_white.text_big.case__wrapper-title Запрос команды
							p.text.text_white.text_medium-2.case__wrapper-text Приоритизация драйверов роста с учетом внешних факторов и рыночной инфраструктуры, тестирование гипотез по выводу нового продукта на рынок, выбор лучших каналов продвижения
						.case__text-solution
							p.text.text_white.text_big.case__wrapper-title Результат работы
							ul.case__solution-list
								li.case__solution-item Получили подтверждение гипотезы, что новый продукт может во многом быть интересен не только ИБ-, но ИТ-службам. Определили, какие маркетинговые сообщения нужны ЛПР
								li.case__solution-item Вновь услышали запрос рынка о функциональности мониторинга конфигурации сетевого оборудования и приоритизировали бэклог, получили рекомендации по выходу на рынок
								li.case__solution-item Собрали возражения в отношении использования подобных решений на больших реалтайм-инфраструктурах и проработали варианты их преодоления
						button.link.link_lowercase.text.text_medium-2.case__hide-text <span class="case__btn-show-case">Решение Cyber Stage</span> <span class="case__btn-hide-case">Скрыть решение</span>
							+svg("pagination-next-icon")(class="case__hide-text-icon")
				.case__item
					picture
						source(media="(max-width: 1200px)" srcset=`${baseDir}images/case-item-img-2_laptop.png` width="348" height="160")
						img.case__img(src=`${baseDir}images/case-item-img-2.png` width="448" height="462")
					p.text.text_white.text_big.case__title(role="heading" aria-level="3") KODERA — ИНСТРУМЕНТЫ ДЛЯ<br> БЕЗОПАСНОЙ РАЗРАБОТКИ ПО
					.case__text-wrapper
						.case__text-task
							p.text.text_white.text_big.case__wrapper-title Запрос команды
							p.text.text_white.text_medium-2.case__wrapper-text Выбрать верный MVP для выхода на рынок, определить оптимальную схему продаж и разобраться в процессе привлечения инвестиций
						.case__text-solution
							p.text.text_white.text_big.case__wrapper-title Результат работы
							ul.case__solution-list
								li.case__solution-item Фокус на разработке репозитория Kodera Packages, запуск работы команды и готовность делать пилотные проекты с потенциальными заказчиками
								li.case__solution-item Подготовка бесплатной версии для тестирования продукта до принятия решения о покупке
								li.case__solution-item Понимание структуры b2b-продаж и ключевых сегментов рынка
								li.case__solution-item План по привлечению инвестиций по готовности пилотной версии продукта
						button.link.link_lowercase.text.text_medium-2.case__hide-text <span class="case__btn-show-case">Решение Cyber Stage</span> <span class="case__btn-hide-case">Скрыть решение</span>
							+svg("pagination-next-icon")(class="case__hide-text-icon")
				.case__item
					picture
						source(media="(max-width: 1200px)" srcset=`${baseDir}images/case-item-img-3_laptop.png` width="348" height="160")
						img.case__img(src=`${baseDir}images/case-item-img-3.png` width="448" height="462")
					p.text.text_white.text_big.case__title(role="heading" aria-level="3") BEARPASS — МЕНЕДЖЕР ПАРОЛЕЙ <br>ДЛЯ БИЗНЕСА
					.case__text-wrapper
						.case__text-task
							p.text.text_white.text_big.case__wrapper-title Запрос команды
							p.text.text_white.text_medium-2.case__wrapper-text Продвижение продукта для среднего и крупного бизнеса, повышение компетенций в области автоматизации управления доступом и работе с привилегированными пользователями
						.case__text-solution
							p.text.text_white.text_big.case__wrapper-title Результат работы
							ul.case__solution-list
								li.case__solution-item Разобрались с позиционированием продукта и сформулировали его преимущества. Разработали гипотезы для развития на ближайший год и пересобрали дорожную карту на этот год с учетом обратной связи от ИБ-экспертов
								li.case__solution-item Вместе подготовили презентацию, которую можно использовать для привлечения инвестиций
								li.case__solution-item Разобрались в текущих реалиях работы на рынке управления доступом вместе с экспертами Solar inRights
						button.link.link_lowercase.text.text_medium-2.case__hide-text <span class="case__btn-show-case">Решение Cyber Stage</span> <span class="case__btn-hide-case">Скрыть решение</span>
							+svg("pagination-next-icon")(class="case__hide-text-icon")
