.section.logo
	.wrapper
		p.title-h2.section__title-h2(role="heading" aria-level="2") Участники программы
		ul.logo__list
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-1.svg` width="340" height="56" alt="Логотип «Cloud Advisor»")
				p.text.text_small.logo__text Единая платформа, обеспечивающая безопасность в публичном облаке
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-2.svg` width="320" height="48" alt="Логотип «CTRL-Hack»")
				p.text.text_small.logo__text Платформа симуляции кибератак
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-3.svg` width="258" height="80" alt="Логотип «BearPass»")
				p.text.text_small.logo__text Безопасное хранение и использование корпоративных паролей для бизнеса
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-4.svg` width="322" height="29" alt="Логотип «Веб оборона»")
				p.text.text_small.logo__text Комплексная безопасность для любых веб-ресурсов
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-5.png` width="320" height="64" alt="Логотип «Kodera»")
				p.text.text_small.logo__text Российские инструменты для безопасной разработки ПО
			li.logo__item
				.logo__img-wrapper
					img(src=`${baseDir}images/logo-partners-6.svg` width="106" height="80" alt="Логотип «TypeMax»")
				p.text.text_small.logo__text Практические курсы для специалистов по информационной безопасности
		a.btn.logo__btn(href="/participants/") Посмотреть всех участников
