section.section_last.section-second.news
	.wrapper
		.news__title-wrapper
			p.text.news__title.title-h2_second.section__title-h2(role="heading" aria-level="2") Новости
			a.text.link.link_arrow.link_arrow-big(href="https://rt-solar.ru/events/news/" target="_blank" rel="nofollow")
				+svg("arrow-slide-next")
				| ПОКАЗАТЬ ВСЕ
		ul.news__section
			li.news__section-item
				a.news__section-link(href="https://spbfounders.ru/tpost/61t7uf6g91-stachka-v-pitere-sektsiya-startapi-amp-i" target="_blank")
					img.news__img(src=`${baseDir}images/news-img-7.jpg` width="330" height="189" alt="CyberStage вместе с SPB Founders провели питч-сессию по ИБ на Стачке 2024")
					.news__text-wrapper
						p.text.text_middle.news__date 30.09.2024
						.news__information
							p.title-h3_second.news__information-title(role="heading" aria-level="3")
								| CyberStage вместе с SPB Founders провели питч-сессию по ИБ на Стачке 2024
							p.text.text_middle.link.news__show-more Подробнее
			li.news__section-item
				a.news__section-link(href="https://cisoclub.ru/investicii-v-ib-startapy-kak-privlech-finansirovanie-i-sozdat-uspeshnuju-komandu-sovety-ot-anastasii-piskun-iz-cyberstage/" target="_blank")
					img.news__img(src=`${baseDir}images/news-img-8.jpg` width="330" height="189" alt="Инвестиции в ИБ-стартапы: как привлечь финансирование и создать успешную команду – советы от Анастасии Пискун из Cyberstage")
					.news__text-wrapper
						p.text.text_middle.news__date 18.09.2024
						.news__information
							p.title-h3_second.news__information-title(role="heading" aria-level="3")
								| Инвестиции в ИБ-стартапы: как привлечь финансирование и создать успешную команду – советы от Анастасии Пискун из Cyberstage
							p.text.text_middle.link.news__show-more Подробнее
			li.news__section-item
				a.news__section-link(href="https://rt-solar.ru/events/news/4695/" target="_blank")
					img.news__img(src=`${baseDir}images/news-img-9.jpg` width="330" height="189" alt="Состоялось вручение премии Startech.Awards в номинации «Лучший проект в сфере кибербезопасности»")
					.news__text-wrapper
						p.text.text_middle.news__date 16.09.2024
						.news__information
							p.title-h3_second.news__information-title(role="heading" aria-level="3")
								| Состоялось вручение премии Startech.Awards в номинации «Лучший проект в сфере кибербезопасности»
							p.text.text_middle.link.news__show-more Подробнее
			li.news__section-item
				a.news__section-link(href="https://www.interfax.ru/events/news/932862" target="_blank")
					img.news__img(src=`${baseDir}images/news-img-2.jpg` width="330" height="189" alt="На SOC-Forum 2023 участники обсудили актуальные угрозы, экономику кибербезопасности и технологии на практике")
					.news__text-wrapper
						p.text.text_middle.news__date 25.01.2024
						.news__information
							p.title-h3_second.news__information-title(role="heading" aria-level="3")
								| На SOC-Forum 2023 участники обсудили актуальные угрозы, экономику кибербезопасности и технологии на практике
							p.text.text_middle.link.news__show-more Подробнее
			li.news__section-item
				a.news__section-link(href="https://vc.ru/begovatovd/907634-trendy-rynka-infobezopasnosti-v-rossii-v-2024-godu" target="_blank")
					img.news__img(src=`${baseDir}images/news-img-5.jpg` width="330" height="189" alt="Тренды рынка инфобезопасности в России в 2024 году")
					.news__text-wrapper
						p.text.text_middle.news__date 27.01.2024
						.news__information
							p.title-h3_second.news__information-title(role="heading" aria-level="3")
								| Тренды рынка инфобезопасности в России в 2024 году
							p.text.text_middle.link.news__show-more Подробнее
			li.news__section-item
				a.news__section-link(href="https://www.forbes.ru/tekhnologii/494867-bezopasnoe-uskorenie-zacem-rtk-solar-zapuskaet-programmu-akseleracii-startapov" target="_blank")
					img.news__img(src=`${baseDir}images/news-img-6.jpg` width="330" height="189" alt="Безопасное ускорение: зачем «РТК-Солар» запускает программу акселерации стартапов")
					.news__text-wrapper
						p.text.text_middle.news__date 27.01.2024
						.news__information
							p.title-h3_second.news__information-title(role="heading" aria-level="3")
								| Безопасное ускорение: зачем «РТК-Солар» запускает программу акселерации стартапов
							p.text.text_middle.link.news__show-more Подробнее
