section.section.partners
	.wrapper
		p.title-h2.section__title-h2(role="heading" aria-level="2") Участники программы
		.partners__slider
			.partners__slider-wrapper
				.partners__slider-item
					.partners__icon-wrapper
						img(src=`${baseDir}images/BearPass.svg` alt="Логотип «BearPass»")
				.partners__slider-item
					.partners__icon-wrapper
						img(src=`${baseDir}images/CloudAdvisor.svg` alt="Логотип «Cloud Advisor»")
				.partners__slider-item
					.partners__icon-wrapper
						img(src=`${baseDir}images/CTRL-Hack.png` alt="Логотип «CTRL-Hack»")
				.partners__slider-item
					.partners__icon-wrapper
						img(src=`${baseDir}images/kodera.png` alt="Логотип «Kodera»")
				.partners__slider-item
					.partners__icon-wrapper
						img(src=`${baseDir}images/TypeMax.png` alt="Логотип «TypeMax»")
				.partners__slider-item
					.partners__icon-wrapper
						img(src=`${baseDir}images/webOborona.svg` alt="Логотип «Веб оборона»")
